<section
  id="wrapper"
  class="d-flex justify-content-center align-items-center min-vh-100"
>
  <mat-card class="mat-elevation-z8 p-4 rounded">
    <mat-card-header>
      <mat-card-title class="text-center">BG Users</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Login">
          <form
            [formGroup]="loginForm"
            (ngSubmit)="login()"
            class="d-flex flex-column gap-3 mb-3"
            autocomplete="off"
          >
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Usuario:</mat-label>
              <input
                type="text"
                matInput
                placeholder="Usuario"
                formControlName="username"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Contraseña:</mat-label>
              <input
                type="password"
                matInput
                placeholder="Contraseña"
                formControlName="password"
              />
            </mat-form-field>
            <div class="d-flex justify-content-center mt-3">
              <button
                mat-raised-button
                color="primary"
                [disabled]="!loginForm.valid"
                type="submit"
                class="w-100"
              >
                Login <mat-icon>login</mat-icon>
              </button>
            </div>
          </form>
        </mat-tab>
        <mat-tab label="Registrarse">
          <form
            [formGroup]="signupForm"
            (ngSubmit)="signup()"
            class="d-flex flex-column gap-3"
            autocomplete="off"
          >
            <mat-form-field class="w-100">
              <mat-label>Nombre:</mat-label>
              <input
                type="text"
                matInput
                formControlName="firstName"
                required
              />
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Apellido:</mat-label>
              <input type="text" matInput formControlName="lastName" required />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Tipo Identificación</mat-label>
              <mat-select formControlName="identificationTypeId">
                @for (item of identificationTypes; track $index) {
                  <mat-option [value]="item.id">{{ item.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Nro. Identificación:</mat-label>
              <input type="text" matInput formControlName="idCard" required />
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Email:</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="example@example.com"
                required
              />
            </mat-form-field>

            <mat-form-field class="w-100">
              <mat-label>Usuario:</mat-label>
              <input
                type="text"
                matInput
                formControlName="username"
                placeholder="ivan.paz"
                required
              />
            </mat-form-field>

            <mat-form-field class="w-100">
              <mat-label>Contraseña:</mat-label>
              <input
                type="password"
                matInput
                formControlName="password"
                required
              />
            </mat-form-field>
            <div class="d-flex justify-content-center mt-3 mb-3">
              <button
                [disabled]="!signupForm.valid"
                type="submit"
                mat-raised-button
                class="w-100"
              >
                Registrar <mat-icon>sign_up</mat-icon>
              </button>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-footer>
      <div class="row mt-3">
        <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
          <div class="social">
            <a
              mat-button
              color="primary"
              matTooltip="Visita nuestra página en Facebook"
              aria-label="Facebook"
              href="https://www.facebook.com/BancoGuayaquil/?locale=es_LA"
              target="_blank"
              rel="noopener noreferrer"
            >
              <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
            </a>
            <a
              mat-button
              color="warn"
              matTooltip="Visita nuestra página en Instagram"
              aria-label="Instagram"
              href="https://www.instagram.com/bancoguayaquil/?hl=es"
              target="_blank"
              rel="noopener noreferrer"
            >
              <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            </a>
            <a
              mat-button
              color="warn"
              matTooltip="Visita nuestro canal en Youtube"
              aria-label="YouTube"
              href="https://www.youtube.com/@BancoGuayaquilEC"
              target="_blank"
              rel="noopener noreferrer"
            >
              <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
            </a>
            <a
              mat-button
              color="primary"
              matTooltip="Descargar desde Google Play"
              aria-label="Google Play"
              href="https://play.google.com/store/apps/details?id=com.bancodeguayaquil&hl=en"
              target="_blank"
              rel="noopener noreferrer"
            >
              <fa-icon [icon]="['fab', 'google-play']"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</section>
