<a
  mat-button
  color="primary"
  matTooltip="Visita nuestra página en Facebook"
  aria-label="Facebook"
  href="https://www.facebook.com/BancoGuayaquil/?locale=es_LA"
  target="_blank"
  rel="noopener noreferrer"
>
  <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
</a>
<a
  mat-button
  color="warn"
  matTooltip="Visita nuestra página en Instagram"
  aria-label="Instagram"
  href="https://www.instagram.com/bancoguayaquil/?hl=es"
  target="_blank"
  rel="noopener noreferrer"
>
  <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
</a>
<a
  mat-button
  color="warn"
  matTooltip="Visita nuestro canal en Youtube"
  aria-label="YouTube"
  href="https://www.youtube.com/@BancoGuayaquilEC"
  target="_blank"
  rel="noopener noreferrer"
>
  <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
</a>
<a
  mat-button
  color="primary"
  matTooltip="Descargar desde Google Play"
  aria-label="Google Play"
  href="https://play.google.com/store/apps/details?id=com.bancodeguayaquil&hl=en"
  target="_blank"
  rel="noopener noreferrer"
>
  <fa-icon [icon]="['fab', 'google-play']"></fa-icon>
</a>
