<mat-card>
  <mat-card-content>
    <div class="row mb-3">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
        <button (click)="onDialogOpen()" type="button" mat-raised-button>
          <mat-icon>person_add</mat-icon> Añadir
        </button>
      </div>
    </div>
    <div class="row mt-3">
      @if (this.users.length > 0) {
        @for (user of users; track $index) {
          <div class="col-md-3">
            <mat-card class="user-card">
              <mat-card-header>
                <div mat-card-avatar class="user-avatar"></div>
                <mat-card-title>{{ user.username }}</mat-card-title>
                <mat-card-subtitle>Admin</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>I am a user</p>
              </mat-card-content>
              <mat-card-actions>
                <button
                  type="button"
                  mat-raised-button
                  class="m-lg-2"
                  color="primary"
                  (click)="onEdit(user)"
                >
                  <mat-icon>edit</mat-icon> Editar
                </button>
                <button
                  type="button"
                  mat-raised-button
                  color="accent"
                  (click)="onDelete(user)"
                >
                  <mat-icon>delete</mat-icon> Eliminar
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        }
      }
    </div>
    <mat-paginator
      #paginator
      [length]="pagination().totalRecords"
      [pageIndex]="pagination().pageIndex"
      [pageSize]="pagination().pageSize"
      [pageSizeOptions]="pagination().pageSizeOptions"
      (page)="onPageChanged($event)"
      showFirstLastButtons
      aria-label="Select Page"
    />
  </mat-card-content>
</mat-card>
